<p><i class="fa fa-github fa-lg fa-fw"></i> <a href="https://github.com/alexandre-mbm/" target="_blank">@alexandre-mbm</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="http://userscripts-mirror.org/users/69817/scripts" target="_blank">userscripts-mirror.org</a></p>
<p><i class="fa fa-laptop fa-lg fa-fw"></i> <a href="https://userstyles.org/users/15085" target="_blank">userstyles.org</a></p>
<p><i class="fa fa-envelope-o fa-lg fa-fw"></i> <a href="mailto:alexandre.mbm@gmail.com" target="_blank">alexandre.mbm@gmail.com</a></p>
